:root {
  --color-primary: darkblue;
  --color-seconday: purple;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.ui {
  display: flex;
  gap: 2rem;

  li {
    list-style: none;
    background-color: var(--color-primary);
    color: white;

    padding: 0.5rem 1rem;
    border-radius: 1rem;

    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
